html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  margin: 0;
  padding: 0;
  text-align: justify;
}

::-moz-selection {
  background: #fff;
  text-shadow: none;
}

::selection {
  background: #fff;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ----------------------------------------------------------------------------
                                 Typography 
  -----------------------------------------------------------------------------*/
h1 {
  color: #000;
  font-family: "Righteous", cursive;
  font-size: 45px;
  font-weight: 800;
  text-transform: uppercase;
}

h1 span {
  color: #8d0622;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  color: #000;
  font-family: "Righteous", cursive;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

h4 {
  font-weight: 500;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

li {
  list-style: none;
}

a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  text-decoration: none;
}

/* ----------------------------------------------------------------------------
                                 Main Layout - Mobile
  -----------------------------------------------------------------------------*/
#main-container {
  margin: 0 20px;
  padding: 20px 0;
  z-index: 0;
}

.section-container {
  padding: 60px 0;
}

/* HEADER */
#header {
  background: #8d0622;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-elements {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 5px 15px;
}

/* The Menu Button */
.menu-button {
  color: #fefdfe;
  font-size: 30px;
}

/* Header - Contacts Icons */
.header-elements li {
  float: left;
  padding: 0 7px;
}

.header-elements li a {
  color: #fefdfe;
}

/* Nav Menu Overlay */
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
}

/* The Menu Overlay */
.menu-overlay {
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.98) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 1;
}

.overlay-content {
  margin-top: 30px;
  position: relative;
  text-align: center;
  top: 20%;
  width: 100%;
}

.menu-overlay a {
  color: #fefdfe;
  display: block;
  font-weight: 200;
  padding: 15px;
  text-transform: uppercase;
  transition: 0.3s;
}

.menu-overlay a:hover,
.menu-overlay a:focus {
  background-color: #fefdfe;
  color: #30c7d5;
}

.menu-overlay .closebtn {
  font-size: 30px;
  position: absolute;
  right: 5px;
}

/* ABOUT SECTION */
#about {
  border-bottom: 1.5px solid #8d0622;
  position: relative;
}

#profile-pic {
  height: 100%;
  opacity: 0.2;
  position: absolute;
  top: 5px;
  width: 100%;
  z-index: -1;
}

.about-buttons-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-top: 40px;
}

.button {
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 250px;
}

.button:hover,
.button:focus {
  background: #fefdfe;
  color: #30c7d5;
  transform: scale(1.2);
}

.button i {
  padding-left: 5px;
}

/* SKILLS SECTION */
#skills {
  border-bottom: 1.5px solid #8d0622;
}

.skill-list-div ul {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
}

.skill-list-div ul li {
  padding: 10px;
  text-transform: uppercase;
}

/* PORTFOLIO */
.projects-container ol {
  column-gap: 2rem;
  columns: 30rem;
  counter-reset: project-counter;
  padding: 0.5rem;
}

.projects-container li {
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
  break-inside: avoid;
  color: #fff;
  counter-increment: project-counter;
  display: grid;
  grid-template-columns: minmax(3.75em, auto) 1fr;
  margin-top: 1rem;
  overflow: hidden;
}

.projects-container li img {
  grid-column: 1 / 3;
  grid-row: 1;
  object-fit: cover;
  width: 100%;
}

.projects-container li::before {
  content: counter(project-counter);
  color: #30c7d5;
  font-weight: 700;
  font-size: 4.5em;
  grid-column: 1;
  grid-row: span 2;
  letter-spacing: -0.125em;
  line-height: 1;
  margin: 0 0 -0.9em -0.22em;
  margin-top: 0.35em;
  padding: 10px;
}

/* Make the project zoom on hover */
.projects-container li:hover,
.projects-container li:focus {
  box-shadow: 8px 8px 5px rgba(14, 13, 13, 0.5);
  transform: scale(1);
}

.projects-container li span {
  grid-column: 2;
  text-align: center;
}

.projects-container li span:first-of-type {
  font-size: 1.5em;
  padding-top: 1rem;
}

.projects-container li span:last-of-type {
  font-style: italic;
  padding-bottom: 1rem;
}

.projects-container li span a {
  color: #fff;
}

.projects-container li span a:hover,
.projects-container li span a:focus {
  color: #30c7d5;
  font-size: 1.2em;
  transition: all 100ms;
}

.project-icon {
  margin-left: 3px;
}

/* -------  EDUCATION SECTION ---------*/
.experiences-icon {
  padding-right: 5px;
}

.year {
  color: #8d0622;
  font-family: "Righteous", cursive;
  font-size: 45px;
  margin: 0;
  position: relative;
  top: 30px;
}

.workPlace {
  background-color: #ede7e9;
  box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(0, 0, 0, 0.8);
  color: #8d0622;
  font-size: 18px;
  padding: 10px;
}

.workPosition {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 3px;
}

.work-points {
  list-style: disc;
}

/* -------  EXPERIENCE SECTION ---------*/
#experience {
  margin-bottom: 60px;
  padding-top: 0;
}

.experience-div {
  display: block;
  padding: 15px;
}

#first {
  border-bottom: 1.5px solid #8d0622;
  border-left: 1.5px solid #8d0622;
  border-top: 1.5px solid #8d0622;
}

#second,
#fourth {
  border-bottom: 1.5px solid #8d0622;
  border-right: 1.5px solid #8d0622;
}

#third {
  border-bottom: 1.5px solid #8d0622;
  border-left: 1.5px solid #8d0622;
}

#experience .date {
  color: #8d0622;
  float: right;
  font-weight: 400;
  margin-top: -10px;
}

.workDescription {
  color: #000;
  padding-top: 30px;
}

.workDescription a {
  color: #000;
  font-style: italic;
  text-transform: lowercase;
}

/* -------  CONTACTS SECTION ---------*/
.contacts-container {
  align-items: center;
  border-top: 1.5px solid #8d0622;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.contacts ul {
  padding: 0;
}

#contact ul li {
  float: left;
  list-style: none;
  padding: 5px;
}

#contact ul li a {
  color: #000;
  font-weight: 500;
  text-transform: lowercase;
}

#contact ul li a i {
  padding-right: 3px;
}

/* FOOTER */
#footer {
  background: #8d0622;
  bottom: 0;
  box-shadow: 2px 0px 0px 2px rgba(0, 0, 0, 0.6);
  color: #fff;
  font-style: italic;
  padding: 5px;
  position: fixed;
  text-align: center;
  width: 100%;
}

/* ==========================================================================
                              MEDIA QUERIES STYLE
   ========================================================================== */

@media only screen and (min-width: 1050px) {
  /* ABOUT SECTION */
  #about {
    border-right: 1.5px solid #8d0622;
    float: left;
    width: 70%;
  }

  #about p {
    width: 80%;
  }

  /* SKILLS SECTION */
  #skills {
    border: none;
    position: absolute;
    right: 20px;
    top: 39%;
    width: 29%;
  }

  /* CONTACTS SECTION */

  #contact {
    position: absolute;
    right: 20px;
    top: 0;
    width: 30%;
  }

  .contacts-container {
    border: none;
  }

  .contacts-container ul {
    display: flex;
    flex-flow: column wrap;
  }

  #contact .icons li a i {
    display: none;
  }

  /* PORTFOLIO SECTION */
  #portfolio {
    left: 10%;
    position: absolute;
    top: 80%;
    width: 80%;
  }

  /* EXPERIENCES SECTION */
  .main-experiences {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  #experience {
    width: 90%;
  }

  #education {
    width: 90%;
  }
}
